.countries {
  	stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.gratBackground {
    fill: #D5E3FF;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.dropdown {
    position: absolute;
    top: 30px;
    right: 650px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.pcplot {
  margin-top: 0px;
}

.pcpBackground {
  fill: #ccc;
  opacity: 0.5;
  stroke: #000;
  stroke-width: 4px;
}

.pcpLines path {
  fill: none;
  stroke-width: 1px;
  stroke: #1e90ff;
}

.axes path {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-linecap: round;
}

.infolabel {
  position: absolute;
  height: 50px;
  min-width: 100px;
  color: #fff;
  background-color: #000;
  border: solid thin #fff;
  padding: 5px 10px;
  font-family: sans-serif;
  text-align: center;
}

.infolabel h1 {
  margin: 0 20px 0 0;
  padding: 0;
  display: inline-block;
  line-height: 1em;
  font-family: sans-serif;
}

.labelname {
  line-height: 2em;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  background-color: #000;
  border: solid thin #fff;
}
